<div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center" class="h-100-p">

  <mat-card id="login-form" class="my-40 mx-16" style="max-width: 360px;">
    <mat-card-content class="pt-40">
      <div fxLayout="column" fxLayoutAlign="center center">

        <div class="mat-title mb-20 mt-40"> Enis21-Lab</div>

        <div class="my-20 w-240 abcRioButton abcRioButtonBlue" (click)="tryGoogleLogin()">
          <div class="abcRioButtonContentWrapper">
            <div class="abcRioButtonIcon" style="padding:15px">
              <div style="width:18px;height:18px;"
                   class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
                <img style="width:18px;height:18px;" src="assets/google.svg"/>
              </div>
            </div>
            <span style="font-size:16px;line-height:48px;" class="abcRioButtonContents">
                <span id="not_signed_inpsj1je4qtaby">Sign in with Google</span>
            </span>
          </div>
        </div>

      </div>


    </mat-card-content>


  </mat-card>

</div>

