<div class="container">

  <h4>{{isFormInEditMode() ? 'Edit Member' : 'Create New Member'}}</h4>

  <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">

    <mat-form-field>
      <input matInput placeholder="cin" formControlName="cin">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="cv" formControlName="cv">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="type" formControlName="type">
    </mat-form-field>

    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
    </div>

  </form>
</div>
